body {
    font: Arial, Helvetica, sans-serif;
}
#container {
    width: 1050px;
    margin: 0 auto;
}

#header {
    height: 100px;
}

#brand {
    float: left;
}
h1 a {
    font-size: 50px;
    font-weight:100px; 
    color: #05386B;
    text-decoration: none;
}

#searchBox {
    float: right;
    background: linear-gradient(#0B3C5D, #328CC1);
    background: -webkit-linear-gradient(#0B3C5D, #328CC1);
    background: -o-linear-gradient(#0B3C5D, #328CC1);
    background: -ms-linear-gradient(#0B3C5D, #328CC1);
    background: -moz-linear-gradient(#0B3C5D, #328CC1);
    width: 400px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #05386B;
    background: white url("images/search-3-24.png") right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #05386B;
    font-size: 15px;
    
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#0B3C5D, #328CC1);
    background: -webkit-linear-gradient(#0B3C5D, #328CC1);
    background: -o-linear-gradient(#0B3C5D, #328CC1);
    background: -ms-linear-gradient(#0B3C5D, #328CC1);
    background: -moz-linear-gradient(#0B3C5D, #328CC1);
    padding: 7px 0;
}
ul {
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #05386B;
}

#menu ul li:last-child {
    border-right: none;
}
#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #05386B;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #05386B;
}

#introduction {
    background: linear-gradient(#0B3C5D, #328CC1);
    background: -webkit-linear-gradient(#0B3C5D, #328CC1);
    background: -o-linear-gradient(#0B3C5D, #328CC1);
    background: -ms-linear-gradient(#0B3C5D, #328CC1);
    background: -moz-linear-gradient(#0B3C5D, #328CC1);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    color: #0B3C5D;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: #0B3C5D;
    text-align: justify;
}

.sidebar {
    height: 480px;
    width: 450px;
    border: 1px solid #0B3C5D;
    border-radius: 20px;
    padding: 10px 30px;    
}

.sidebar h3 {
    color: #05386B;
    font-size: 30px;
}
#leftsidebar ul li {
    padding-bottom: 6px;
    list-style-image: url(images/goodtick.png);
}

#rightsidebar ul li {
    padding-bottom: 6px;
    list-style-image: url(images/goodtick.png);
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color: #05386B;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar {
    float: left;
    height: 850px;
}

#rightsidebar {
    float: right;
    height: 850px;

}

.footer {
    height: 60px;
    background: linear-gradient(#0B3C5D, #328CC1);
    background: -webkit-linear-gradient(#0B3C5D, #328CC1);
    background: -o-linear-gradient(#0B3C5D, #328CC1);
    background: -ms-linear-gradient(#0B3C5D, #328CC1);
    background: -moz-linear-gradient(#0B3C5D, #328CC1);
    padding: 10px 30px;
    margin-top: 15px;
}